<!-- footer
================================================== -->
<footer class="s-footer">
    <div class="row">
        <div class="column large-full footer__content">
            <div class="footer__copyright">
                <span>© Copyright BlessedBlissfulTimes 2020</span> 
                <span>Design by <a href="https://www.blessedblissfultimes.ga/">BlessedBlissfulTimes</a></span>
            </div>
        </div>
    </div>

    <div class="go-top">
        <a class="smoothscroll" title="Back to Top" href="#top"></a>
    </div>
</footer>
