{% extends 'base.html' %}
{% load static %}
{% block body %}

        <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div>
                            <img src="{% static 'images/thumbs/about/about-1000.jpg' %}" srcset="{% static 'images/thumbs/about/about-2000.jpg' %} 2000w, 
                                      {% static 'images/thumbs/about/about-1000.jpg' %} 1000w, 
                                      {% static 'images/thumbs/about/about-500.jpg' %} 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                        </div>
                    </div>

                    <div class="content__page-header">
                        <h1 class="display-1">
                        Hello, This Is Shaafiyah.
                        </h1>
                    </div> <!-- end content__page-header -->

                    <p class="lead drop-cap">Living our life on our own is a kind of happiness i would say, it brings happiness and joy everytime you pursue it but when you does it for someone then it becomes a pain even if it was for good. Live as you want it to be but it is not possible for everyone at everytime but people do get oppurtunity for doing what they love.</p>

                    <p>Everytime you go through a hard time remember it is for a reason and am not a really expierenced person to tell you this am recording it for myself for the future me where I may not live how i want but i want to let myself know that this is how I want.</p>

                    <h2>Story of my life</h2>

                    <p>I'm a school student and an author who loves to write about anything that interests me and this interest isn't always on a particular thing and this is all I have to say about myself.</p>
                    <hr>

                    <div class="row block-large-1-2 block-tab-full">
                        <div class="column">
                            <h4>Who Am I,</h4>
                            <p>I'm Shaafiyah and I'm from a town which most people don't know that exists, I wanna be a person who is ready to <b>raise voice</b> not <b>Fame</b>, I wanna be a person who can be <b>Inspirational</b> than a <b>model</b>. Kind and generous. This is what i leave for me.</p>
                        </div>

                        <div class="column">
                            <h4>My Mission.</h4>
                            <p>My vision is to be a good person, a person who helps others, who helps the needy and an Inspirational author who writes about the happenings and for the society rather than a poet who writes about the gossips and fairy tales.</p>
                        </div>

                        <div class="column">
                            <h4>Our Vision.</h4>
                            <p>Our means We, the readers. Everything makes an impact, everything has its reaction, a good deed starting from saying greetings to neighbors to helping the poor and even the one I adore the most <b>SORRY</b>. Let's make the change.</p>
                        </div>

                        <div class="column">
                            <h4>I'm Not Perfect</h4>
                            <p>I'm not perfect and I admit it. I am not a right person to say about kind and generous but all am trying to say is that Let's change together and thanks for the endless support even after the break in posts. <b>Embrace</b> yourself and <b>Love</b> Others</p>
                        </div>

                    </div>

                </section>

            </main>
</div>
{% endblock %}